<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel Principiante</title>
    <link rel="icon" href="{{ url_for('static', filename='icono_lv1.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .resultado {
            font-size: 2em;
            font-weight: bold;
            margin-top: 20px;
        }

        .letra-propuesta {
            font-size: 3em;
            color: #1c2385;
            font-weight: bold;
            margin-top: 20px;
        }

        .column {
            padding: 20px;
        }
    </style>
</head>

<body>
    {% include 'header.html' %}
    <div class="container px-5 mt-4">
        <center>
            <span style="font-size: 2.5em; color: #154cc3;">¡Vocales!</span>
            <hr>
            <div class="alert alert-primary" role="alert">
                Haz click en el botón Iniciar para que la cámara lea tu seña.
            </div>
        </center>

        <div class="row">
            <div class="col-md-6 column">
                <div id="resultado" style="margin-top: 20px;">
                    <h3 class="letra-propuesta" id="letra-propuesta">Letra propuesta: </h3>
                    <h4 class="resultado" id="respuesta">Respuesta: </h4>
                </div>
                <div class="mt-3">
                    <button id="nueva-letra" class="btn btn-secondary" style="display: none;">Nueva Letra</button>
                </div>
                <button id="camera-toggle" class="btn btn-success" onclick="toggleCamera()">Iniciar</button>
            </div>
            <div class="col-md-6 column">
                <div id="video-container" style="display: none;" >
                    <img id="camera-feed" src="" style="border: 1px solid black; width: 100%;" alt="Cámara no disponible"/>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            // Función para actualizar el resultado en la página
            function actualizarResultado(letra, respuesta) {
                document.getElementById('letra-propuesta').innerText = 'Letra propuesta: ' + letra;
                document.getElementById('respuesta').innerText = 'Respuesta: ' + respuesta;

                const signImage = document.getElementById('camera-feed');
                if (respuesta === "¡correcta!") {
                    document.getElementById('nueva-letra').style.display = 'block'; // Mostrar el botón de nueva letra
                    signImage.style.margin = "15px";
                    signImage.style.border = "5px solid green";
                }
                if (respuesta === "incorrecta :(") {
                    signImage.style.margin = "15px"; 
                    signImage.style.border = "5px solid red"; 
                }
            }

            // Evento para obtener una nueva letra
            document.getElementById('nueva-letra').addEventListener('click', function () {
                fetch('/nueva_letra') // Llama al endpoint para obtener una nueva letra
                    .then(response => response.json())
                    .then(data => {
                        actualizarResultado(data.letra_propuesta, ""); // Actualiza la letra propuesta
                        document.getElementById('nueva-letra').style.display = 'none'; // Oculta el botón
                    });
            });

            // Función para obtener el resultado desde el servidor
            function obtenerResultado() {
                fetch('/get_result')
                    .then(response => response.json())
                    .then(data => {
                        if (data.letra_propuesta) {
                            actualizarResultado(data.letra_propuesta, data.respuesta);
                        }
                    });
            }

            // Llama a obtenerResultado cada segundo para actualizar la letra y respuesta
            setInterval(obtenerResultado, 1000);
        </script>
    </div>

    {% include 'footer.html' %}
    
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const videoContainer = document.getElementById('video-container');
            const cameraFeed = document.getElementById('camera-feed');
            const button = document.getElementById('camera-toggle');

            // Verifica si la cámara está activa al cargar la página
            const cameraState = sessionStorage.getItem('cameraState'); // Leemos el estado desde sessionStorage

            if (cameraState === 'active') {
                // Si la cámara estaba activada, muestra el video y ajusta el botón
                cameraFeed.src = '/video';
                button.className = 'btn btn-danger';
                button.innerText = 'Cerrar';
                videoContainer.style.display = 'block'; // Muestra el contenedor de video
            } else {
                // Si la cámara estaba desactivada o no hay estado guardado
                cameraFeed.src = ''; 
                button.className = 'btn btn-success';
                button.innerText = 'Iniciar';
                videoContainer.style.display = 'none'; // Oculta el contenedor de video
            }
        });

        async function toggleCamera() {
            const button = document.getElementById('camera-toggle');
            const cameraFeed = document.getElementById('camera-feed');
            const videoContainer = document.getElementById('video-container');
            button.disabled = true;

            try {
                const response = await fetch('/toggle_camera', { method: 'POST' });
                const data = await response.json();

                if (data.camera_active) {
                    // Cámara activada
                    cameraFeed.src = '/video'; // Establece la fuente del video
                    button.className = 'btn btn-danger';
                    button.innerText = 'Cerrar';
                    videoContainer.style.display = 'block'; // Muestra el contenedor de video
                    sessionStorage.setItem('cameraState', 'active'); // Guarda el estado de la cámara
                } else {
                    // Cámara desactivada
                    cameraFeed.src = ''; // No muestra la imagen
                    button.className = 'btn btn-success';
                    button.innerText = 'Iniciar';
                    videoContainer.style.display = 'none'; // Oculta el contenedor de video
                    sessionStorage.removeItem('cameraState'); // Elimina el estado de la cámara
                }
            } catch (error) {
                console.error("Error al alternar la cámara:", error);
            } finally {
                button.disabled = false;
            }
        }

        // Evento para apagar la cámara al salir de la página
        window.addEventListener('beforeunload', async () => {
            try {
                await fetch('/toggle_camera_off', { method: 'POST' });
                sessionStorage.removeItem('cameraState'); // Elimina el estado de la cámara al salir
            } catch (error) {
                console.error("Error al apagar la cámara automáticamente:", error);
            }
        });

        // Detecta cuando la página regresa desde el historial del navegador
        window.addEventListener('pageshow', (event) => {
            if (event.persisted) {
                location.reload(); // Recarga la página si se regresa desde el historial
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
